# Dependencies
node_modules/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Environment variables
.env

# IDE
.idea/

# SQLite temporary files
*.db-shm
*.db-wal
